<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>EJS Example 2nd Page</title>
</head>
<body>
	<h1>Missions Data for <%= data1.name %>:</h1>
	<h5>Launch Data: <%= data1.launchDate %> </h5>
	<h5>Mission Type: <%= data1.missionType %> </h5>
	<h5>Image: <%= data1.img %> </h5>
</body>
</html>
