<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>EJS Example</title>
	<link rel="stylesheet" type="text/css" href="<%= cssPath %>">
</head>
<body>
	<h1>Missions:</h1>
	<div class="container"> <%- include(page, {data}) %> </div>
</body>
</html>

