<section class="container">
	<h1>Missions Data for <%= data.name %>:</h1>
	<h5>Launch Data: <%= data.launchDate %> </h5>
	<h5>Mission Type: <%= data.missionType %> </h5>
	<h5>Image: </h5>
	<img src= "<%= data.img %>" alt="NASA mars mission">
</section>

